<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition</title>
</head>
<body>
    <form action="/sum/" method="POST">
        {% csrf_token %} <!-- Jinja -->
        <input type="number" name="num1" id="number1" placeholder="Enter 1st number"><br><br>
        <input type="number" name="num2" id="number2" placeholder="Enter 2nd number"><br><br>
        <input type="submit" value="Add"><br>
        <!-- <button type="submit">Add</button> -->
    </form>
</body>
</html>