{% load static %}

<!-- Fontfamily -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&amp;display=swap" rel="stylesheet">
		
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

<!-- Feathericon CSS -->
<link rel="stylesheet" href="{% static 'assets/plugins/feather/feather.css' %}">

<!-- Pe7 CSS -->
<link rel="stylesheet" href="{% static 'assets/plugins/icons/flags/flags.css' %}">

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">