
	{% load static %}
    <!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Feather Icon JS -->
		<script src="{% static 'assets/js/feather.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script  src="{% static 'assets/js/script.js' %}"></script>
		