{% extends 'base.html' %}
{% block title %}student list {% endblock %}	
{% block page_title %} Student List{% endblock %}
{% block content %}
			
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="page-sub-header">
									<h3 class="page-title">Students</h3>
									<ul class="breadcrumb">
										<li class="breadcrumb-item"><a href="students.html">Student</a></li>
										<li class="breadcrumb-item active">All Students</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="student-group-form">
						<div class="row">
							<div class="col-lg-3 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by ID ...">
								</div>
							</div>
							<div class="col-lg-3 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by Name ...">
								</div>
							</div>
							<div class="col-lg-4 col-md-6">  
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by Phone ...">
								</div>
							</div>
							<div class="col-lg-2">  
								<div class="search-student-btn">
									<button type="btn" class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-12">
						
							<div class="card card-table comman-shadow">
								<div class="card-body">
								
									<!-- Page Header -->
									<div class="page-header">
										<div class="row align-items-center">
											<div class="col">
												<h3 class="page-title">Students</h3>
											</div>
											<div class="col-auto text-end float-end ms-auto download-grp">
												<a href="students.html" class="btn btn-outline-gray me-2 active"><i class="feather-list"></i></a>
												<a href="students-grid.html" class="btn btn-outline-gray me-2"><i class="feather-grid"></i></a>
												<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
												<a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
											</div>
										</div>
									</div>
									<!-- /Page Header -->
									
									<div class="table-responsive">
										<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped display" id="studentTable" >
											<thead class="student-thread">
												<tr>
													<th>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox" value="something">
														</div>
													</th>
													<th>ID</th>
													<th>Name</th>
													<th>Last Name</th>
													<th>Class</th>
													<th>DOB</th>
													<th>Mobile Number</th>
													<th>Blood_group</th>
													<th>religion</th>
													<th class="text-end">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for student in students %}
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox" value="{{ student.id }}">
														</div>
													</td>
													<td>{{ student.id }}</td>
													{% comment %} <td>
														<h2 class="table-avatar">
															 <a href="{% url 'students-student' student.id %}" class="avatar avatar-sm me-2">
																<img class="avatar-img rounded-circle" src="{{ student.photo.url }}" alt="User Image">
															</a> 
															 <a href="{% url 'student-details' student.id %}">{{ student.first_name }} {{ student.last_name }}</a> 
														</h2>
													</td> {% endcomment %}
													<td>{{ student.first_name }}</td>
													<td>{{ student.last_name }}</td>
													<td>{{ student.student_class_id }}</td>
													<td>{{ student.date_of_birth }}</td>
													<td>{{ student.phone }}</td>
													<td>{{ student.blood_group }}</td>
													<td>{{ student.religion }}</td>
													<td class="text-end">
														<div class="actions ">
															<a href="student_profile?student_id={{ student.id }}"class="btn btn-sm bg-success-light me-2 ">
																<i class="feather-eye"></i>
															</a>
															<a href="edit_student_page?student_id={{ student.id }}" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
															<a href="/Administartion/send_email_modal?student_id={{ student.id }}" class="btn btn-sm bg-danger-light">
																<button onclick="openEmailModal({{ student.id }}, '{{ student.email }}')"> Email</button>
																
															</a>  
														</div>
													</td>
													{% comment %} <td class="text-end">
														<div class="actions ">
															 <a href="{% url 'student-details' student.id %}" class="btn btn-sm bg-success-light me-2 ">
																<i class="feather-eye"></i>
															</a>
															<a href="{% url 'edit-student' student.id %}" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i> 
															</a>
														</div>
													</td> {% endcomment %}
												</tr>
												{% endfor %}
											</tbody>
										</table>
										
									</div>
								</div>
							</div>							
						</div>					
					</div>					
				</div>

				<!-- Footer -->
				<footer>
					<p>COPYRIGHT © 2023 DREAMSTECHNOLOGIES.</p>					
				</footer>
				<!-- /Footer -->				
			</div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		 <script>
        $(document).ready(function() {
            $('#studentTable').DataTable();
			});
		</script>
		{% endblock %}
		